<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<style>
    .nav a{
        margin: 10px 20px;
    }
</style>
<body>
    <h1>Welcome <%= user_name%></h1>

    <div class="nav">
<a href="dashboard">Dashboard</a>
<a href="addstaff"> Add Staff</a>
<a href="addtask"> Add Task</a>
<a href="managestaff"> Manage Staff</a>
<a href="managetask"> Manage Task</a>
<a href="viewstaff"> View Staff</a>
<a href="viewtask">View Task</a>
</div>

</body>
</html>